In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('finalised_data.csv')

In [3]:
df.describe()

,Reports 1 day ago,Reports 2 days ago,Reports 3 days ago,Reports 4 days ago,Reports 5 days ago,Reports 6 days ago,Reports 7 days ago,Reports 14 days ago,Reports 30 days ago,Reports 365 days ago,...,Westwood Highlands,Westwood Park,Yerba Buena Island,Friday,Saturday,Sunday,Thursday,Tuesday,Wednesday,Todays Reports
count,58500.000000,58500.000000,58500.000000,58500.000000,58500.000000,58500.000000,58500.000000,58500.000000,58500.000000,58500.000000,...,58500.000000,58500.000000,58500.000000,58500.000000,58500.000000,58500.000000,58500.000000,58500.000000,58500.000000,58500.000000
mean,0.033665,0.033710,0.033744,0.033766,0.033785,0.033797,0.033817,0.033943,0.034196,0.035976,...,0.008547,0.008547,0.008547,0.142000,0.142000,0.142000,0.142000,0.144000,0.144000,2.451880
std,0.060819,0.060892,0.060926,0.060966,0.060998,0.061003,0.061023,0.061273,0.061740,0.065453,...,0.092055,0.092055,0.092055,0.349053,0.349053,0.349053,0.349053,0.351093,0.351093,4.421202
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.013699,0.013699,0.013699,0.013699,0.013699,0.013699,0.013699,0.013699,0.013699,0.012821,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,0.041096,0.041096,0.041096,0.041096,0.041096,0.041096,0.041096,0.041096,0.041096,0.038462,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,73.000000

Compare all columns of data against all other columns to visualise relationships

In [ ]:
sns.pairplot(df, height=2.5);
plt.show()

Correlation analysis of features

In [ ]:
pd.options.display.float_format = '{:,.2f}'.format
pd.set_option('display.max_columns', None)

In [ ]:
df.corr()

Heatmap displaying correlation of features

In [ ]:
plt.figure(figsize = (50,50))
sns.heatmap(df.corr(), annot = True)
plt.show()