In [1]:
import pandas as pd
import datetime
from datetime import date
import numpy as np

In [2]:
# Create dummy dataset for use with GUI

In [3]:
x = pd.read_csv('x_test.csv')
y = pd.read_csv('y_test.csv')

In [4]:
x.head()

,Reports 1 day ago,Reports 2 days ago,Reports 3 days ago,Reports 4 days ago,Reports 5 days ago,Reports 6 days ago,Reports 7 days ago,Reports 14 days ago,Reports 30 days ago,Reports 365 days ago,...,Western Addition,Westwood Highlands,Westwood Park,Yerba Buena Island,Friday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,0.095890,0.000000,0.041096,0.013699,0.027397,0.041096,0.068493,0.068493,0.041096,0.012821,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.219178,0.164384,0.232877,0.164384,0.164384,0.178082,0.150685,0.068493,0.068493,0.115385,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.000000,0.013699,0.027397,0.054795,0.000000,0.000000,0.013699,0.000000,0.041096,0.038462,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.013699,0.013699,0.027397,0.013699,0.027397,0.000000,0.013699,0.000000,0.027397,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.000000,0.000000,0.000000,0.013699,0.000000,0.000000,0.013699,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
df = pd.read_csv('SF_neighborhoods.csv')
neighbourhoods = []
num_neighbourhoods = len(df.index)
for i in range(0,num_neighbourhoods):
    neighbourhoods.append(df.iloc[i,2])

In [6]:
days = ['Friday','Saturday','Sunday','Thursday','Tuesday','Wednesday']

In [8]:
x

,Reports 1 day ago,Reports 2 days ago,Reports 3 days ago,Reports 4 days ago,Reports 5 days ago,Reports 6 days ago,Reports 7 days ago,Reports 14 days ago,Reports 30 days ago,Reports 365 days ago,...,Western Addition,Westwood Highlands,Westwood Park,Yerba Buena Island,Friday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,0.095890,0.000000,0.041096,0.013699,0.027397,0.041096,0.068493,0.068493,0.041096,0.012821,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.219178,0.164384,0.232877,0.164384,0.164384,0.178082,0.150685,0.068493,0.068493,0.115385,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.000000,0.013699,0.027397,0.054795,0.000000,0.000000,0.013699,0.000000,0.041096,0.038462,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.013699,0.013699,0.027397,0.013699,0.027397,0.000000,0.013699,0.000000,0.027397,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.000000,0.000000,0.000000,0.013699,0.000000,0.000000,0.013699,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14620,0.000000,0.027397,0.027397,0.013699,0.000000,0.000000,0.013699,0.027397,0.054795,0.051282,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
14621,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.027397,0.000000,0.000000,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
14622,0.013699,0.027397,0.000000,0.013699,0.000000,0.027397,0.027397,0.013699,0.013699,0.012821,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
14623,0.000000,0.013699,0.000000,0.013699,0.000000,0.000000,0.013699,0.041096,0.013699,0.051282,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
14624,0.000000,0.000000,0.013699,0.000000,0.000000,0.041096,0.013699,0.000000,0.013699,0.025641,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [9]:
y

       Todays Reports
0                 6.0
1                 8.0
2                 3.0
3                 2.0
4                 0.0
...               ...
14620             1.0
14621             0.0
14622             0.0
14623             5.0
14624             0.0

[14625 rows x 1 columns]

In [10]:
# merge x and y data as both required for GUI
merged = pd.concat([x,y], axis = 1, join = "inner")
merged

,Reports 1 day ago,Reports 2 days ago,Reports 3 days ago,Reports 4 days ago,Reports 5 days ago,Reports 6 days ago,Reports 7 days ago,Reports 14 days ago,Reports 30 days ago,Reports 365 days ago,...,Westwood Highlands,Westwood Park,Yerba Buena Island,Friday,Saturday,Sunday,Thursday,Tuesday,Wednesday,Todays Reports
0,0.095890,0.000000,0.041096,0.013699,0.027397,0.041096,0.068493,0.068493,0.041096,0.012821,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
1,0.219178,0.164384,0.232877,0.164384,0.164384,0.178082,0.150685,0.068493,0.068493,0.115385,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,8.0
2,0.000000,0.013699,0.027397,0.054795,0.000000,0.000000,0.013699,0.000000,0.041096,0.038462,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0
3,0.013699,0.013699,0.027397,0.013699,0.027397,0.000000,0.013699,0.000000,0.027397,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0
4,0.000000,0.000000,0.000000,0.013699,0.000000,0.000000,0.013699,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14620,0.000000,0.027397,0.027397,0.013699,0.000000,0.000000,0.013699,0.027397,0.054795,0.051282,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
14621,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.027397,0.000000,0.000000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
14622,0.013699,0.027397,0.000000,0.013699,0.000000,0.027397,0.027397,0.013699,0.013699,0.012821,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
14623,0.000000,0.013699,0.000000,0.013699,0.000000,0.000000,0.013699,0.041096,0.013699,0.051282,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5.0
14624,0.000000,0.000000,0.013699,0.000000,0.000000,0.041096,0.013699,0.000000,0.013699,0.025641,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [11]:
# generate recent dates for dataset
num_neighbourhoods = len(neighbourhoods)
num_records = len(merged.index)
num_dates = num_records/num_neighbourhoods
num_dates

125.0

In [12]:
current_date = date.today()
current_date_array = []
i = 0
while i < num_neighbourhoods:
    current_date_array.append(current_date)
    i+=1

In [13]:
dates = pd.DataFrame()
final_dates = pd.DataFrame()
dates['Date'] = current_date_array
final_dates['Date'] = []
i = 1
while i < num_dates:
    final_dates = final_dates.append(dates)
    current_date += datetime.timedelta(days=1)
    dates['Date'] = current_date
    i+=1
final_dates.reset_index(drop=True, inplace=True)
final_dates

             Date
0      2021-01-26
1      2021-01-26
2      2021-01-26
3      2021-01-26
4      2021-01-26
...           ...
14503  2021-05-29
14504  2021-05-29
14505  2021-05-29
14506  2021-05-29
14507  2021-05-29

[14508 rows x 1 columns]

In [14]:
# add new dates to gui dataset
merged = pd.concat([merged,final_dates], axis = 1, join = "inner")
merged

,Reports 1 day ago,Reports 2 days ago,Reports 3 days ago,Reports 4 days ago,Reports 5 days ago,Reports 6 days ago,Reports 7 days ago,Reports 14 days ago,Reports 30 days ago,Reports 365 days ago,...,Westwood Park,Yerba Buena Island,Friday,Saturday,Sunday,Thursday,Tuesday,Wednesday,Todays Reports,Date
0,0.095890,0.000000,0.041096,0.013699,0.027397,0.041096,0.068493,0.068493,0.041096,0.012821,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,2021-01-26
1,0.219178,0.164384,0.232877,0.164384,0.164384,0.178082,0.150685,0.068493,0.068493,0.115385,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,8.0,2021-01-26
2,0.000000,0.013699,0.027397,0.054795,0.000000,0.000000,0.013699,0.000000,0.041096,0.038462,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,2021-01-26
3,0.013699,0.013699,0.027397,0.013699,0.027397,0.000000,0.013699,0.000000,0.027397,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,2021-01-26
4,0.000000,0.000000,0.000000,0.013699,0.000000,0.000000,0.013699,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2021-01-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14503,0.000000,0.054795,0.000000,0.000000,0.000000,0.000000,0.027397,0.000000,0.000000,0.012821,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,2021-05-29
14504,0.027397,0.013699,0.000000,0.013699,0.082192,0.027397,0.109589,0.013699,0.013699,0.025641,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2021-05-29
14505,0.013699,0.000000,0.054795,0.000000,0.000000,0.027397,0.013699,0.013699,0.013699,0.025641,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,2021-05-29
14506,0.027397,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2021-05-29
14507,0.013699,0.027397,0.000000,0.027397,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,4.0,2021-05-29

In [15]:
# generate new neighbourhoods for dataset in balanced quantity
neighbourhood_data = pd.DataFrame()
neighbourhood_data['Neighborhood'] = neighbourhoods
final_neighbourhoods = pd.DataFrame()
final_neighbourhoods['Neighborhood'] = neighbourhoods
i = 1
while i < num_dates:
    final_neighbourhoods = final_neighbourhoods.append(neighbourhood_data)
    i+=1
final_neighbourhoods.reset_index(drop=True, inplace=True)
final_neighbourhoods

                 Neighborhood
0                    Seacliff
1                 Lake Street
2      Presidio National Park
3            Presidio Terrace
4              Inner Richmond
...                       ...
14620          Corona Heights
14621         Ashbury Heights
14622           Eureka Valley
14623        St. Francis Wood
14624         Sherwood Forest

[14625 rows x 1 columns]

In [16]:
# add neighbourhoods to GUI dataset
merged = pd.concat([merged,final_neighbourhoods], axis = 1, join = "inner")
merged

,Reports 1 day ago,Reports 2 days ago,Reports 3 days ago,Reports 4 days ago,Reports 5 days ago,Reports 6 days ago,Reports 7 days ago,Reports 14 days ago,Reports 30 days ago,Reports 365 days ago,...,Yerba Buena Island,Friday,Saturday,Sunday,Thursday,Tuesday,Wednesday,Todays Reports,Date,Neighborhood
0,0.095890,0.000000,0.041096,0.013699,0.027397,0.041096,0.068493,0.068493,0.041096,0.012821,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,2021-01-26,Seacliff
1,0.219178,0.164384,0.232877,0.164384,0.164384,0.178082,0.150685,0.068493,0.068493,0.115385,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,8.0,2021-01-26,Lake Street
2,0.000000,0.013699,0.027397,0.054795,0.000000,0.000000,0.013699,0.000000,0.041096,0.038462,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,2021-01-26,Presidio National Park
3,0.013699,0.013699,0.027397,0.013699,0.027397,0.000000,0.013699,0.000000,0.027397,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,2021-01-26,Presidio Terrace
4,0.000000,0.000000,0.000000,0.013699,0.000000,0.000000,0.013699,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2021-01-26,Inner Richmond
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14503,0.000000,0.054795,0.000000,0.000000,0.000000,0.000000,0.027397,0.000000,0.000000,0.012821,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,2021-05-29,Corona Heights
14504,0.027397,0.013699,0.000000,0.013699,0.082192,0.027397,0.109589,0.013699,0.013699,0.025641,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2021-05-29,Ashbury Heights
14505,0.013699,0.000000,0.054795,0.000000,0.000000,0.027397,0.013699,0.013699,0.013699,0.025641,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,2021-05-29,Eureka Valley
14506,0.027397,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2021-05-29,St. Francis Wood
14507,0.013699,0.027397,0.000000,0.027397,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,4.0,2021-05-29,Sherwood Forest

In [17]:
merged.to_csv('data.csv', index = False)